.menu {
  background-color: #1f2021;
  width: 95%;
  min-height: 70vh;
  padding: 1rem;
  margin-top: 5%;
  grid-column: 2 / 3;
  border-radius: 5%;
  box-shadow: 0 0 18px 3px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-show {
  display: block;
}

.menu-hidden {
  display: none;
}

.menu h2 {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.616);
  font-size: 2rem;
}

.interaction {
  height: 40%;
  display: grid;
  grid-template-rows: 3;
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.616);
}

@media (max-width: 780px) {
  .menu {
    justify-self: center;
    justify-content: center;
    grid-column: 2 / 3;
    /* width: 75%; */
  }
}

@media (max-width: 425px) {
  .menu {
    justify-self: center;
    justify-content: center;
    grid-column: 1 / 3;
    width: 75%;
  }
}
