@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* color */
  --primary-color: #0f0f0f;
  --secondary-color: #1f2021;
  --tertiary-color: #5eada8;
  --text-light-color: #ffffff;
  /* font */
  --font-size-small: .8rem;
  --font-size-normal: 1rem;
  --font-size-medium: 1.125rem;
  --font-size-large: 1.5rem;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  padding-inline-start: 0;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-normal);
}
body {
  width: 100vw;
  color: var(--text-light-color);
  background-color: var(--primary-color);
}
#root {
  width: 100%;
  height: 100%;
}
a {
  color: inherit;
}
header {
  width: 100%;
  height: 80px;
  background-color: var(--secondary-color);
}
header a {
  font-size: var(--font-size-medium);
}

header input {
  border: 3px solid var(--tertiary-color);
  font-size: var(--font-size-small);
}

body {
  background-color: #0f0f0f;
}

footer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  height: fit-content;
  padding: 1rem 2rem;
  gap: 1rem;
  background-color: #1f2021;
  align-items: center;
}

.the-main {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  padding: 1rem;
}

.column-menu {
  background-color: #1f2021;
  padding: 4rem 1rem 0 1rem;
  margin-top: -4rem;
  border-radius: 5%;
  box-shadow: 0 0 18px 3px rgba(255, 255, 255, 0.3);
  z-index: 1;
  position: relative;
}

.menu-container {
  grid-column: 2 / 3;
  margin-bottom: 5%;
  margin-top: 1rem;
  width: 95%;
  height: 100%;
  position: relative;
}

.background-visible {
  animation: slideDown 2s 1s forwards;
  background-color: #1f2021;
  opacity: 0;
}

.background-hidden {
  animation: slideUp 2s forwards;
  opacity: 0;
}

@keyframes slideDown {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 70vh;
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    height: 70vh;
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  .menu-container {
    justify-self: right;
    justify-content: center;
    grid-column: 1 / 3;
    width: 35%;
    margin-right: 1rem;
  }
}

@media (max-width: 780px) {
  .the-main {
    display: block;
    position: relative;
  }

  .menu-container {
    grid-column: 1 / 3;
    width: 100%;
    justify-items: center;
    margin-right: 1rem;
    position: absolute;
    left: 0;
    top: 0;
  }

  .column-menu {
    width: 80%;
    /* margin: 0 auto; */
  }

  footer {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
  }
}

@media (max-width: 450px) {
  .menu-container {
    justify-self: center;
    justify-content: center;
    grid-column: 1 / 3;
    width: 85%;
  }
}
