@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  /* color */
  --primary-color: #0f0f0f;
  --secondary-color: #1f2021;
  --tertiary-color: #5eada8;
  --text-light-color: #ffffff;
  /* font */
  --font-size-small: .8rem;
  --font-size-normal: 1rem;
  --font-size-medium: 1.125rem;
  --font-size-large: 1.5rem;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  padding-inline-start: 0;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-normal);
}
body {
  width: 100vw;
  color: var(--text-light-color);
  background-color: var(--primary-color);
}
#root {
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  height: 80px;
  background-color: var(--secondary-color);
}
header a {
  font-size: var(--font-size-medium);
}

header input {
  border: 3px solid var(--tertiary-color);
  font-size: var(--font-size-small);
}
.fa-main {
  display: grid;
  grid-template-columns: 70vw 30vw;
  grid-template-rows: 1fr;
  padding: 1rem;
}
@media screen and (max-width: 768px) {
  .fa-main {
    display: block;
  }
}
