.category-container {
  grid-column: 1 / 2;
  padding: 1rem;
}
.category-container h1 {
  padding-bottom: 2rem;
}
.category-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 350px));
  gap: 1rem;
  place-content: center;
}
@media screen and (max-width: 768px) {
  .category-container {
    display: grid;
    padding: 0;
  }
  .category-wrapper {
    display: grid;
    width: 100%;
    gap: 2rem;
  }
}
