.artist-card {
  background-color: black;
  height: 280px;
  width: 200px;
  border-radius: 16px;
  overflow: hidden;
  margin: 0;
  position: relative;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}

.artist-card:hover {
  background-color: rgb(11, 11, 11);
  border: 1px solid aquamarine;
}

span {
  font-size: 10px;
  color: aquamarine;
}

.artist-card img {
  width: 100px;
  height: 150px;
  margin-top: 40px;
  margin-left: 50px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  object-fit: cover;
}

.artist-card figcaption {
  font-size: 19px;
  text-align: center;
  color: white;
  padding: 16px 0 0 0;
}
