* {
  box-sizing: border-box;
}

.language-selector {
  display: flex;
  margin-left: 8px;
}
.langue {
  display: flex;
  padding: 5%;

  box-shadow: 0 0 5px 1px white;
  width: 150%;
}
#language {
  border: none;
  background: none;
  color: white;
}
.language-selector option {
  background-color: black;
}
.langue img {
  margin: 0 0.5rem 0 0.5rem;
}
