:root {
  --header-container-width: 100%;
  --header-container-height: 100%;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--header-container-width);
  height: var(--header-container-height);
}
.header-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
}
.header-container ul > li {
  padding: .5rem 1.5rem;
}
.header-container .active {
  font-weight: bold;
}
.header-container :not(.active) {
  font-size: .9rem;
}
.header-container a {
  text-decoration: none;
  color: inherit;
  text-shadow: 0 0 5px #fff;
}
.header-container a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .header-container {
    display: grid;
    grid-template-columns: .8fr .2fr;
    grid-template-rows: 1fr;
  }
  .header-container img {
    grid-column: 1 / 2;
    place-self: center;
  }
  .header-container a {
    grid-column: 2 / 3;
    place-self: center;
  }
  .header-container ul {
    display: none;
  }
}
