.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid red;
}
.header-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
}
.header-container ul > li {
  padding: .5rem 1rem;
}
