footer {
  box-sizing: border-box;
}

footer {
  background-color: #1f2021;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 80px;
  width: 100%;
}
.mentions {
  font-size: 0.8rem;
  text-align: center;
}
.mentions,
p {
  color: rgb(240, 241, 241);
}
.condition,
span {
  margin-right: 8px;
}
.politique,
span {
  margin-left: 8px;
}
.icone {
  display: flex;
  justify-content: space-around;
}
.icone > a > img {
  height: 25px;
  width: auto;
}
.spoty {
  margin-left: 10px;
}
