* {
  box-sizing: border-box;
}

.language-selector {
  display: flex;
  margin-left: 8px;
}
.langue {
  display: flex;
  padding: 7%;

  box-shadow: 0 0 5px 1px white;
  min-width: 15vw;
  max-height: 8vh;
  align-items: center;
}
.logo {
  height: 30px;
}
#language {
  border: none;
  background: none;
  color: white;
  width: 10vw;
}
option {
  width: 200%;
  padding: 5px;
}
.language-selector option {
  background-color: black;
}
.langue img {
  margin: 0 0.5rem 0 0.5rem;
  width: 25px;
  height: auto;
}
